:root{
    /* falta revisar los colores de la letra y vincularlos con el root  */
    
    /* color of back graund*/
    --var-color-1:rgb(78, 78, 78);
    --var-color-2:rgba(116, 116, 116, 0.5);
    --var-color-3:grey;

    /* color of tipografy */
    --var-color-4:black;
    --var-color-5:rgb(201, 122, 122);
    
    /* tipografia */
    font-size: 14px;
    --h1-font-size    : 2.8rem;
    --h2-font-size    : 1.5rem;
    --body-font-size  : 1rem;
    --samll-font-size : 1rem;
    --p-font-size     : 1rem;   
}


body{
    background:linear-gradient(-45deg, black,rgb(61, 59, 59), rgb(187, 185, 185), gray  );

    background-size:400% 400%;
    position: relative;
    animation: change 8s ease-in-out infinite;
}
@keyframes change{
    0% {background-position:0% 50%;}
    50% {background-position:100% 50%;}
    1000% {background-position:0% 50%;}
}


/* nav */
.nav_conten{
    justify-content: right;
    margin: 0 5% 0 0 ;
    height: auto;
    display: flex; 
}
.nav_conten_tex{
    list-style-type: none;
    margin: 1em;
    font-size: 100%;
    /* color: var(--var-color-4); */
}
.link{
    text-decoration: none;
    /* color: var(--var-color-4); */
}
.link:hover {
    /* color:var(--var-color-5); */
}


/* father home */
.section_conten{
    padding: 7%;
    height: 100%;
    /* background:var(--var-color-1); */
    display: grid;
    grid-gap:80px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    grid-template-areas: "img1 img2 img3"
                         "img1 img2 img3"
                         "footer footer footer";
} 



.section_conten > section {
    height:50vh;
    width:100%;
    margin: auto;
    border-radius: 50%;    
    max-width:  1000px;
    max-height: 1000px;
    background-position: center;
    background-size: 10% ;
}
/* son one */
.conten_img1{
  
    background-image: url(../img/1.png);
    grid-area: img1;
}   

.conten_img2{
    background-image: url(../img/2.png);
    grid-area: img2;
}   

.conten_img3{

    background-image: url(../img/3.png);
    grid-area: img3;
}     

/* son tow */
.section_conten_tex{
    width: 90%;
    margin: 2%;
    text-align: right;
    font-size: var(--p-font-size);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5rem;
    grid-area: texted;
}
.name{
    font-size: var(--h1-font-size);
    text-align: right;
    text-decoration: underline;
    text-decoration: none;
    line-height: 2.5rem;
}
.conten_footer{
    display: flex;
    justify-content: center;
    height: 2.5vh;
    grid-area: footer;
}
.icon{
    height: 100%;
    margin: 1% 1% ;  
}



/* whitd 700px */
@media screen and  (max-width:720px) {
    :root{
        font-size: 12px;
    }
    .section_conten{
        grid-template-rows: repeat(3,auto);
        grid-template-areas:"img1 img1 img1"
                            "img2 img2 img2"
                            "img3 img3 img3"
                            "footer footer footer" ;
    }
    .conten_img{
    height: 50vh;
    }
} 
/* whitd 650px */

@media screen and  (max-width:500px) {
    :root{
        font-size: 10px;
    } 
}