

body{   
    background:rgba(0, 0, 0, .9);

}

/* .conten{
    background: black;
    overflow: hidden;
} */

.nav_conten ul {
    background: rgb(40, 40, 40);
    overflow: hidden;
    flex: auto;
}

.nav_conten_tex{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;

}

.name{
    color: white;
}
