<!DOCTYPE html>
<html lang="Es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"&amp;gt;> -->
        <title></title>
        <!-- favicon -->
        <link  rel="icon"   href="static/icon/logo.svg" type="image/png" />
        <!-- style of layout -->
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="static/css/layout-footer.css">
        
    </head>
    <footer>
        <section class= "conten_footer">
            <img class="icon" src="static/icon/facebook.svg" alt="">
            <img class="icon" src="static/icon/linkedin.svg" alt="">
            <img class="icon" src="static/icon/instagram.svg" alt="">   
            <img class="icon" src="static/icon/twitter.svg" alt="">
            <img class="icon" src="static/icon/messenger.svg" alt="">
        </section>
    </footer>
</html>