<!DOCTYPE html>
<html lang="Es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"&amp;gt;> -->
        <title>j-kevin</title>
        <!-- favicon -->
        <link  rel="icon"   href="static/icon/logo.svg" type="image/png" />
        <!-- style of layout -->
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="static/css/layout.css">
        
    </head>
    <body>
        <header>
            <nav class="conten">
                <nav class="nav_conten_1">
                    <ul class="nav_conten">
                        <p class="nav_conten_tex"><a href="" class="link">Home</a></p>
                        <p class="nav_conten_tex"><a href="" class="link">¿Quién soy?</a></p>
                        <p class="nav_conten_tex"><a href="" class="link">foro</a></p>
                        <p class="nav_conten_tex"><a href="" class="link">dudas</a></p>
                    </ul>
                </nav>
                <section class="section_conten">
                    <section class= "conten_img"> 
                        <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, consequatur, sed iusto labore, quaerat nihil tempora distinctio dolore dicta porro cumque architecto nobis corrupti quisquam. Officia, sunt! Numquam, libero iusto!</p>  -->
                        <!-- <img class="img" src="static/img/bm.jpg" alt=""> -->
                    </section>
                    <section class="section_conten_tex">
                        <h1 class="name">jhon kevin </h1>
                        <p calss="p_name">hola, soy jhon, un estudiante de aruitectura que aspira cambiar las metodologias comunes a fin de ser mas eficiente un trabajo, toda mi vida he pensado que algo se podria hacer mejor, y yo estoy aqui para mejorar lo que otros no puedieron.</p>
                    </section>
                    <section class= "conten_footer">
                        <img class="icon" src="static/icon/facebook.svg" alt="">
                        <img class="icon" src="static/icon/linkedin.svg" alt="">
                        <img class="icon" src="static/icon/instagram.svg" alt="">   
                        <img class="icon" src="static/icon/twitter.svg" alt="">
                        <img class="icon" src="static/icon/messenger.svg" alt="">
                    </section>
                </nav>
                </section>
                
        </header>
    
    </body>
</html>