<!DOCTYPE html>
<html lang="Es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>j-kevin</title>
    <!-- style of layout -->
    <link rel="stylesheet" href="../static/css/layout.css">
    <link rel="stylesheet" href="../static/css/normalize.css">


</head>
<body>
    <header>
        <nav class="conten">
            <nav class="nav_conten">
                <ul>
                    <li class="nav_conten_tex"><a href="">Home</a></li>
                    <li class="nav_conten_tex"><a href="">¿Quién soy?</a></li>
                    <li class="nav_conten_tex"><a href="">Blog</a></li>
                    <li class="nav_conten_tex"><a href="">Protafolio</a></li>
                    <li class="nav_conten_tex"><a href="">Contácme</a><li>
                </ul>
            </nav>
            <h1 class="name">jhon kevin</h1>
            <!-- <nav class="logo">
                <ul>
                    <img src="" alt="">
                    <li class="nav_conten_tex"><a href="">j-kevin</a></li>
                    
                </ul>
            </nav> -->
        </nav>
    </header>



    <!-- <footer>
        <div class="nav_conten">
            <ol>
                <ul class="nav_conten_tex"><a href="">Home</a></ul>
                <ul class="nav_conten_tex"><a href="">¿Quién soy?</a></ul>
                <ul class="nav_conten_tex"><a href="">Blog</a></ul>
                <ul class="nav_conten_tex"><a href="">Protafolio</a></ul>
                <ul class="nav_conten_tex"><a href="">Contácme</a></ul>
            </ol>
        </div>
        <div>
            <ol class="footer_conten">
                <img src="../static/icon/facebook.svg" alt="" class="footer_conten_icon">
                <img src="../static/icon/messenger.svg" alt="" class="footer_conten_icon">
                <img src="../static/icon/instagram.svg" alt="" class="footer_conten_icon">
                <img src="../static/icon/linkedin.svg" alt="" class="footer_conten_icon">
                <img src="../static/icon/twitter.svg" alt="" class="footer_conten_icon">
            </ol>
        </div>
    </footer> -->
</body>
</html>