<!DOCTYPE html>
<html lang="Es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"&amp;gt;> -->
        <title>j-kevin</title>
        <!-- favicon -->
        <link  rel="icon"   href="static/icon/logo.svg" type="image/png" />
        <!-- style of layout -->
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="static/css/layout.css">
        
    </head>
    <body>
        <header>
            <nav class="conten">
                <nav class="nav_conten_1">
                    <ul class="nav_conten">
                        <p class="nav_conten_tex"><a href="" class="link">Home</a></p>
                        <p class="nav_conten_tex"><a href="" class="link">¿Quién soy?</a></p>
                        <p class="nav_conten_tex"><a href="" class="link">foro</a></p>
                        <p class="nav_conten_tex"><a href="" class="link">dudas</a></p>
                    </ul>
                </nav>
            </nav>
        </header>
        
    </body>
              
</html>